body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Roboto Mono', monospace;
    
}
div{
    font-size: 60px;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}